<div class="navbar">
    <div>Regristration</div>

    <ul id="nav-button">
        <li id="nav-link"><a href="home">Home</a></li>
        <li id="nav-link"><a href="login">Login</a></li>
        <li id="nav-link"><a href="list">List</a></li>
        <li id="nav-link"><a href="about">About</a></li>
    </ul>
</div>