<!-- <form action="/ans" method="POST">
    Name: <input type="text" placeholder="username" name="user"><br>
    Pass: <input type="text" placeholder="password" name="pass"><br><br>
    <button type="submit">submit</button>
</form> -->