<div class="home">
    <div id="content">
        <div>
            Holiday is over now, but your main activity will start. School regristration is open right now,
            come on let's register now.
        </div>
        <img src="images/Icon.svg" alt="home-log" id="home-logo" width="200" height="280">
    </div>
    <div id="close">
        <div>What are you waiting for? register now</div>
        <li id="login-button"><a href="/login">Login</a></li>
    </div>
</div>
