<div class="login">
    <div id="text-logo">
        Login
    </div>
    <form action="" id="login-form">        
        <input type="text" placeholder="Type your first name here">
        <input type="text" placeholder="Type your last name here">
        <input type="text" placeholder="Type your age here">
        <input type="text" placeholder="Type your country here">
    </form>
</div>