<div class="login">
    <div id="text-logo">
        Login
    </div>
    <form action="/add" method="post" id="login-form">   
        <input type="text" name="id" placeholder="ID">     
        <input type="text" name="firstname" placeholder="First name">
        <input type="text" name="lastname" placeholder="Last name">
        <input type="text" name="age" placeholder="Age">
        <input type="text" name="country" placeholder="Country">
        <button type="submit">Submit</button>
    </form>
</div>