<div class="login">
    <div id="text-logo">
        Login
    </div>
    <form action="" id="login-form">
        <div>
            <label for="">First Name : </label>
            <input type="text" placeholder="Type your first name here">
        </div>
        <div>
            <label for="">Last Name : </label>
            <input type="text" placeholder="Type your last name here">
        </div>
    </form>
</div>