<div class="login">
    <div id="text-logo">
        Login
    </div>
    <form action="" id="login-form">        
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="text" placeholder="Age">
        <input type="text" placeholder="Country">
        <button>Login</button>
    </form>
</div>